#忽略IDE生成的文件
.idea/*
.setting/

CloudGentieService/.setting/
CloudGentieOperationAdmin/.setting/
CloudGentieStationAdmin/.setting/
CloudGentieWeb/.setting/
.project
*.iml
.classpath

#忽略.class文件
*.class

#忽略.log文件
*.log*

#other
CloudGentieService/target/*
CloudGentieOperationAdmin/target/*
CloudGentieStationAdmin/target/*
CloudGentieWeb/target/*

CloudGentieService/.settings/*
CloudGentieOperationAdmin/.settings/*
CloudGentieStationAdmin/.settings/*
CloudGentieWeb/.settings/*

/.settings/
/target/

CloudGentieService/resources/local/redis-cluster.xml

cache.txt
mqcache.txt
.idea
.DS_Store
doc/.DS_Store

${gc.mq.cache.file}
${cache.file}
cloud_cache.txt
cloud_mqcache.txt